# Question 1

In [43]:
input_char = input("Enter Character:")
length = len(input_char)
print(f"First character of “Python” is: {input_char[0]}")
print(f"First character of “Python” is: {input_char[length-1]}")
if length % 2 != 0:
    print(f"Middle characters of “Python” is: {input_char[int(length/2)]}")
else:
    print(f"Middle characters of “Python” is: {input_char[int(length/2)]}{input_char[int(length/2)+1]}")

IndexError: string index out of range

# Quenstion 2

In [ ]:
str1 = "Hi python"

print(str1[::-1])

nohtyp iH

In [ ]:
str1 = "Hi"
str2 = "There"
print(4*str1)
print(str1+str2)
print(str1==str2)

HiHiHiHi
HiThere
False

# Methods

In [ ]:
str1 ="Hello"

str1 = str1.lower()
print(str1)
str1 = str1.upper()
print(str1)
str1 = str1.title()
print(str1)

hello
HELLO
Hello

In [ ]:
txt = "hi Python"
print(txt.find("h"))
print(txt.rfind("h"))

0
6

In [ ]:
str1 = "python"

str1 = str1.replace("python","java")
print(str1)

java

In [ ]:
str1 = "hi python"
str1= str1.count("h")
print(str1)

2

In [51]:
str1 = "hi python"
print(type(str1))
print(str1)
str2 = str1.split()
str3 = str1.split("h")
print(type(str2))
print(type(str3))
print(str2)
print(str3)

<class 'str'>
hi python
<class 'list'>
<class 'list'>
['hi', 'python']
['', 'i pyt', 'on']

In [52]:
word = ["hi python","!"]
txt = "".join(word)
print(txt)

hi python!

# Search

In [ ]:
user = input("Are you student?(yes/no)")
user = user.lower()
if user == "yes":
    print("Ok")

Ok

In [ ]:
str1 = input("enter str1:")
str2 = input("")

# List

In [15]:
list1 = [12.5,"ali",18,"mohammad"]
print(len(list1))
print(list1[2])
print(list1[1:4])
print(list1[::-1])

4
18
['ali', 18, 'mohammad']
['mohammad', 18, 'ali', 12.5]

In [17]:
list1 = [12.5,"ali",18,"mohammad"]
list1[2] = "python"
print(list1)

[12.5, 'ali', 'python', 'mohammad']

In [19]:
list1 = [12.5,"ali",18,"mohammad"]
list1.append(100)
list1

[12.5, 'ali', 18, 'mohammad', 100]

In [25]:
list1 = [12.5,"ali",18,"mohammad"]
list1.insert(0,9999)
list1.insert(10,"saleh")
list1.insert(-10,15.7)
list1

[15.7, 9999, 12.5, 'ali', 18, 'mohammad', 'saleh']

In [30]:
list1 = [12.5,"ali",18,"mohammad"]
print(list1[1][:2])

al

In [34]:
list1 = [12.5,"ali",18,"mohammad",12.5,12.5]
list1.remove(12.5)
list1

['ali', 18, 'mohammad', 12.5, 12.5]

In [40]:
list1 = [12.5,"ali",18,"mohammad"]
list1.pop(3)
list1

[12.5, 'ali', 18]

In [44]:
list1 = [12.5,"ali",18,"mohammad"]
list1.index(18)

2

In [45]:
list1 = [12.5,"ali",18,"mohammad"]
list1.clear()
list1

[]

In [49]:
list1 = [12.5,"ali",18,"mohammad"]
del list1
list1

NameError: name 'list1' is not defined

In [53]:
list1 = [1,5,6,8]

if  5 in list1:
    print("yes")

yes

In [58]:
list1 = [5,84,7,54,12,6,32]
for i in range(len(list1)):
    print(list1[i],end=" ")

print("")
for i in list1:
    print(i,end=" ")

5 84 7 54 12 6 32
5 84 7 54 12 6 32

In [75]:
list1 = [10,10,20,20,30,41,30]
x = list1.count(10)

for i in range(x):
    list1.remove(10)

list1

[20, 20, 30, 41, 30]

In [76]:
list1 = [10,5,66,3,2]

for i,j in enumerate(list1):
    print(i,j)

0 10
1 5
2 66
3 3
4 2

In [92]:
list1 = []
sum  = 0
Max_value = 0
Number = int(input("Enter Number Of Student:"))
for i in range(Number):
    str1 = float(input("Enter Number:"))
    list1.append(str1)
    sum = sum + str1

    if  Max_value < str1:
        Max_value = str1
list1    
No_Twenty = list1.count(20)
print(No_Twenty)
print(Max_value)
print(sum/Number)

ValueError: invalid literal for int() with base 10: ''

In [88]:
print(min([10,15,20]))
print(max([10,15,20]))
print(len([10,15,20]))

10
20
3

In [95]:
print(5//2)

2